@import url('https://fonts.googleapis.com/css?family=Exo:300i,400|Ranga:700');

/* Random Quote Generator Styles */

:root {
  --color-main: #FFF4B2;
  --color-accent: #EA6B59;
  --color-font: #31384B;
  --color-bold: #FDF1EF;
  --font-main: 'Exo', sans-serif;
}

html {
  font-size: 20px;
}

body {
  background-color: var(--color-main);
  color: var(--color-font);
  font-family: var(--font-main);
  padding: 1rem;
  transition: color 0.4s, background-color 0.8s;
}

h1, h2, h3 {
  font-family: Ranga, serif;
  font-weight: 700;
  line-height: 1rem;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  display: none;
}

@media screen and (min-width: 500px) {
  h2 {
    display: block;
  }
}

#loadQuote {
  background: var(--color-accent);
  border: 2px solid var(--color-bold);
  border-radius: 25px 0px 0px 25px;
  bottom: 0px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.09), 0 3px 4px 2px rgba(0, 0, 0, 0.13);
  color: var(--color-bold);
  padding: 5px 10px;
  position: fixed;
  right: 0px;
  transition: color 0.4s, background-color 0.8s;
}

@media screen and (min-width: 500px) {
  #loadQuote {
    border-radius: 25px;
    padding: 10px 15px;
    position: inherit;
  }
}

.button-category {
  background: var(--color-main);
  border: 1px solid var(--color-accent);
  border-radius: 10px;
  color: var(--color-font);
  font-size: 0.75rem;
  padding: 5px 10px;
  margin: 5px;
  transition: color 0.4s, background-color 0.8s;
}

.active {
  background: var(--color-accent);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.09), 0 3px 4px 2px rgba(0, 0, 0, 0.13);
  transition: color 0.4s, background-color 0.8s;
}

/* GRID STYLES */
/* DESKTOP */
/*
+----------------------+---------------------------------+
|   header-main        |      container-category         |
+---+------------------+-----------------------------+---+
|   |                                                |   |
|   |              container-quote                   |   |
|   |                                                |   |
+---+------------------------------------------------+---+
|                                                        |
|                  container-controls                    |
+--------------------------------------------------------+
*/

/* MOBILE */
/*
+-----------------------------+
|         header-main         |
+-----------------------------+
|                             |
|                             |
|                             |
|                             |
|       container-quote       |
|                             |
|                             |
+-----------------------------+
|                             |
|      container-category     |
|                             |
+-----------------------------+
|     container-controls      |
+-----------------------------+
*/

#app {
  align-items: center;
  display: grid;
  grid-gap: 15px;
  grid-template-areas:
    'header'
    'quote'
    'category'
    'controls';
  justify-items: center;
}

@media screen and (min-width: 500px) {
  #app {
    align-items: center;
    grid-template-areas:
      'header'
      'category'
      'quote'
      'controls';
    justify-content: center;
  }
}

@media screen and (min-width: 900px) {
  #app {
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
      'header category category'
      'quote quote quote'
      '. controls .';
    justify-content: center;
  }
}


/* DESIGN STYLES */

#header-main {
  grid-area: header;
  text-align: center;
}

@media screen and (min-width: 500px) {
  #header-main {
    text-align: left;
  }
}

#container-quote {
  align-items: center;
  display: grid;
  font-family: 'Exo', sans-serif;
  grid-area: quote;
  padding: .5rem 1.5rem;
}

@media screen and (min-width: 500px) {
  #container-quote {
    margin-left: 3rem;
    margin-right: 3rem;
  }
}

.quote {
  justify-self: center; 
}

.source::before {
  content: ' - ';
}

.source, .citation, .year {
  font-style: italic;
  font-size: 0.9rem;
  justify-self: end;
  font-weight: 300;
}

.citation::before {
  content: ', ';
}

.citation::after {
  content: ', ';
}

/* Thanks to Chris Covier for the line-through-text trick. (https://css-tricks.com/line-on-sides-headers/) */
.quote-category {
  font-size: 0.85rem;
  font-style: italic;
  line-height: 0.5;
  margin-left: 50px;
}

.quote-category p {
  display: inline-block;
  position: relative;
}

.quote-category p::before,
.quote-category p::after {
  content: '';
  position: absolute;
  height: 5px;
  border-bottom: 3px solid var(--color-accent);
  top: 0;
}

.quote-category p::before {
  right: 100%;
  margin-right: 15px;
  width: 50px;
}

.quote-category p::after {
  left: 100%;
  margin-left: 15px;
  width: 100px;
}

#container-category {
  align-items: center;  
  display: flex;
  flex-flow: row wrap;
  grid-area: category;
  justify-content: space-around;
  justify-self: stretch;
}

@media screen and (min-width: 400px) {
  #container-category {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }
}

#container-controls {
  grid-area: controls;
}